.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

.cancel-btn{
    border: none;
    background: transparent;
    position: absolute;
    top: 14px;
    right: 14px;
    font-size: 20px;
    font-weight: bold;
}

.modal-title{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}